/* All filter DD param */
.all-filter-dd-param-list > div {
  padding: 1.5rem 0rem;
  border-top: 1px dotted #171717;
}

.all-filter-dd-param-list > :last-child {
  padding-bottom: 1.5rem;
  min-height: calc(1px + 3.5rem);
}

.all-filter-dd-list-wrapper {
  transition: background-color 0.5s linear,
    visibility 0s calc(0.5s - calc(0.5s * var(--visibility-one, 0))) linear;
}

.all-filter-dd-list-container {
  transition: translate calc(0.4s + calc(0.3s * var(--visibility-one, 0)))
    cubic-bezier(0.4, 0, 0, 1);
}

.all-filter-dd-list-cat-item-toggle-wrapper {
  transition: translate calc(0.4s + (0.1s * var(--visibility-one, 0)))
    cubic-bezier(calc(0.4 + (0.2 * var(--visibility-one, 0))), 0, 0, 1);
}

.all-filter-dd-list-cat-item-open-wrapper {
  transition: translate calc(0.4s + (0.1s * var(--visibility-one, 0)))
      cubic-bezier(calc(0.4 + (0.2 * var(--visibility-one, 0))), 0, 0, 1),
    visibility 0s calc(0.4s - (0.4s * var(--visibility-one, 0)));
}

.all-filter-dd-param-anim-list-wrapper {
  transition: grid-template-rows 0.6s cubic-bezier(0.4, 0, 0, 1);
}