[data-status="0"] .attr-value::before,
[data-status="1"] .attr-value::before,
[data-status="2"] .attr-value::before {
  content: " ";
  clip-path: polygon(
    50% 0%,
    75% 6.7%,
    93.3% 25%,
    100% 50%,
    93.3% 75%,
    75% 93.3%,
    50% 100%,
    25% 93.3%,
    6.7% 75%,
    0% 50%,
    6.7% 25%,
    25% 6.7%,
    50% 0%
  );
  width: 0.75em;
  height: 0.75em;
  margin: 0.125em 0.5em 0 0;
  display: inline-block;
}

[data-status="0"] .attr-value::before {
  background-color: var(--green);
}
[data-status="1"] .attr-value::before {
  background-color: var(--khaki);
}
[data-status="2"] .attr-value::before {
  background-color: var(--red);
}

[data-attr-value-size="large"] .attr-value {
  font-size: 1.25rem;
}

[data-attr-box-table="true"] {
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

[data-attr-box-table="true"] .attr-title {
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
