.textinputbox[data-has-error="true"] {
  background-color: var(--red) !important;
}
.textinputbox[data-has-error="true"] > .textinputbox-error {
  display: flex;
}

.textinputbox input:disabled {
  background: none !important;
  cursor: unset !important;
}
