[data-has-error="true"] {
  background-color: var(--red) !important;
}
[data-has-error="true"] > [data-error-message="true"] {
  display: flex;
}

.textinputbox input:disabled {
  background: none !important;
  cursor: pointer !important;
  pointer-events: none;
}

.textinputbox:has(input:disabled) {
  cursor: pointer;
}
