@media (min-width: 2080px) {
  .card-list-grid {
    grid-auto-columns: minmax(calc(25% - 1.125rem), 1fr);
    grid-template-columns: minmax(calc(25% - 1.125rem), 1fr);
  }
}

@media (min-width: 992px) {
  .card-list-grid:not(:has(.list-item-wrapper:nth-child(4))) {
    grid-auto-columns: minmax(calc((100% - 3rem) / 3), 1fr);
    grid-template-columns: minmax(calc((100% - 3rem) / 3), 1fr);
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .card-list-grid:not(:has(.list-item-wrapper:nth-child(3))) {
    grid-auto-columns: minmax(calc((100% - 1.5rem) / 2), 1fr);
    grid-template-columns: minmax(calc((100% - 1.5rem) / 2), 1fr);
  }
}
@media (max-width: 767px) {
  .card-list-grid:not(:has(.list-item-wrapper:nth-child(2))) {
    grid-auto-columns: minmax(100%, 1fr);
    grid-template-columns: minmax(100%, 1fr);
  }
}

.card-list--container {
  counter-reset: cardListItemCounter;
}

.list-item-wrapper {
  counter-increment: cardListItemCounter;
}

.list-item-title:empty {
  max-width: 2ch;
  letter-spacing: 0;
  height: 0.8em;
  display: inline-flex;
  overflow: hidden;
  text-align: right;
  text-overflow: clip;
  direction: rtl;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
}
.list-item-title:empty::after {
  content: "0";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #171717;
}
.list-item-title:empty::before {
  --nth-child: 3;
  --stack-delay: 0.15s;
  content: "0 " counter(cardListItemCounter);
  width: 1ch;
  min-width: 1ch;
  max-width: 1ch;
  height: 1.6em;
  direction: normal;
  overflow: hidden;
  direction: normal;
  white-space: normal;
  color: rgba(0, 0, 0, var(--is-inview, 0));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #171717;
  translate: 0% calc((-50% * var(--is-inview, 0)) + 25%);
  will-change: translate, color;
  transition-property: translate, color;
  transition-timing-function: cubic-bezier(0.75, 0, 0, 1),
    cubic-bezier(0.8, 0, 0.2, 1);
  transition-duration: calc(0.6s + (0.9s * var(--is-inview, 0))),
    calc(0.1s + (0.15s * var(--is-inview, 0)));
  transition-delay: calc(0s + (var(--nth-child) * var(--stack-delay))),
    calc(0.1s + (var(--nth-child) * var(--stack-delay)));
}

[data-scroll-is-inview="true"] .list-item-title:empty::before {
  transition-delay: calc(0s + (var(--nth-child) * var(--stack-delay))),
    calc(0.55s + (var(--nth-child) * var(--stack-delay)));
}

.card-list-grid .list-item-wrapper:nth-child(1) .list-item-title:empty::before {
  --nth-child: 0;
}
.card-list-grid .list-item-wrapper:nth-child(2) .list-item-title:empty::before {
  --nth-child: 1;
}
.card-list-grid .list-item-wrapper:nth-child(3) .list-item-title:empty::before {
  --nth-child: 2;
}
