/* LAYOUT: HORIZONTAL */
@container card (width > 560px) {
  [data-card-layout="horizontal"] .card-container {
    grid-auto-flow: column;
  }

  [data-card-layout="horizontal"] .card-label-img-container {
    font-size: 0.75rem;
  }
}

@media screen and (width > 478px) {
  .featured-products-card-list-v2[data-card-layout="horizontal"]
    .card-container {
    grid-auto-flow: column;
  }

  .featured-products-card-list-v2[data-card-layout="horizontal"]
    .card-label-img-container {
    font-size: 0.75rem;
  }
}

/* LAYOUT: LIST */
[data-card-layout="list"] .card-container {
  grid-template-columns: 1fr 2fr;
  max-height: 31rem;
}

[data-card-layout="list"] .card-label-img-container {
  font-size: 0.75rem;
}

[data-card-layout="list"] .card-img-wrapper,
[data-card-layout="list"] .card-no-img-container {
  aspect-ratio: none;
}

/* BLACK AND WHITE TRUCK IMAGE */
.card-wrapper [data-bw-img="true"] {
  will-change: filter, mix-blend-mode;
  filter: contrast(85%) brightness(110%) grayscale(100%);
  mix-blend-mode: multiply;
}

.card-wrapper:hover [data-bw-img="true"] {
  filter: none;
  mix-blend-mode: normal;
}

@media (max-width: 767px) {
  .card-wrapper [data-bw-img="true"] {
    filter: none;
    mix-blend-mode: normal;
  }
}
