@container newcard (width < 78rem) {
  .newcard-container {
    grid-auto-columns: minmax(0px, 1.5fr) !important;
  }
}
@container newcard (width < 64rem) {
  .newcard-container {
    grid-auto-columns: minmax(0px, 1fr) !important;
  }
}

@container newcard (width < 52rem) {
  .newcard-container {
    grid-auto-columns: minmax(0px, 0.75fr) !important;
  }
}

@container newcard (width < 46rem) {
  .newcard-container {
    grid-auto-columns: minmax(0px, 0.5fr) !important;
  }
}

@container newcard (width < 40rem) {
  .newcard-container {
    grid-auto-flow: row !important;
  }
}

@container newcard-main-content (width < 23rem) {
  .newcard-header {
    grid-template-columns: auto 1fr !important;
  }
  .newcard-title-container {
    grid-column: span 2 !important;
  }
  .newcard-price-container {
    grid-column: span 1 !important;
  }
}

@container newcard-header (width < 22rem) {
  .newcard-header {
    grid-template-columns: auto 1fr !important;
  }
  .newcard-title-container {
    grid-column: span 2 !important;
  }
  .newcard-price-container {
    grid-column: span 1 !important;
  }
}

@container newcard-header (width < 27rem) {
  .newcard-title-container {
    padding-left: 1rem;
  }
  .newcard-price-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@container newcard-header (width < 22rem) {
  .newcard-price-container {
    grid-template-columns: 1fr !important;
  }
  .newcard-totprice-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start !important;
    gap: 0px 1rem;
  }
  .newcard-totprice-new {
    flex-grow: 1;
  }
  .newcard-totprice-old {
    padding-bottom: 0.125em;
  }
}

@container newcard-header (width < 19rem) {
  .newcard-title {
    font-size: 1.25rem;
  }
  .newcard-large-price-number {
    font-size: 1.5rem;
  }
  .newcard-large-price-unit {
    font-size: 1rem;
    line-height: 1.25em;
  }
  .newcard-totprice-new {
    font-size: 1rem;
    line-height: 1em;
    padding: 0;
  }
}

@container newcard-img-wrapper (width < 27rem) {
  .newcard-attr {
    font-size: 0.875rem;
  }
}
@container newcard-img-wrapper (width < 22rem) {
  .newcard-attr {
    font-size: 0.75rem;
  }
}
@container newcard-img-wrapper (width < 19rem) {
  .newcard-attrs-container {
    flex-wrap: wrap;
    grid-row-end: 3 !important;
  }
  .newcard-attr-tooltip {
    bottom: calc(5em + 1rem);
  }
  .newcard-attr:hover {
    box-shadow: white 0px calc(-0.5rem - 1.25em) 0px,
      white 0px calc(-0.75rem - 2em) 0px, white 0px calc(-1rem - 2.75em) 0px;
  }
}

@container newcard (width > 36rem) {
  [data-card-layout="horizontal"].newcard .newcard-main-content {
    grid-template-columns: minmax(0px, 1.5fr) minmax(0px, 1fr);
  }
}
@container newcard (width > 42rem) {
  [data-card-layout="horizontal"].newcard .newcard-main-content {
    grid-template-columns: minmax(0px, 2fr) minmax(0px, 1fr);
  }
}

.newcard-img-container:empty {
  background-image: linear-gradient(
    to bottom right,
    transparent calc(50% - 0.5px),
    currentColor calc(50% - 0.5px),
    currentColor calc(50% + 0.5px),
    transparent calc(50% + 0.5px)
  );
}

.newcard-img-container:empty:after {
  content: "Ingen bild";
  position: absolute;
  z-index: 2;
  background-color: var(--bg-color, var(--linen, transparent));
  border: 4px solid var(--bg-color, var(--linen, transparent));
}

/* card preloader animation */
[data-is-loading].newcard .newcard-preloader {
  transition: background-color 0.5s 0.25s cubic-bezier(0.5, 0, 0.5, 1);
}
[data-is-loading="false"].newcard .newcard-preloader {
  background-color: transparent;
}

[data-is-loading].newcard .newcard-preloader > *:first-child {
  transition-property: translate, opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 1, 1);
}

[data-is-loading="false"].newcard .newcard-preloader > *:first-child {
  opacity: 0;
  translate: 0 4rem;
}

/* IMAGE MOVE */
.newcard-moveimg-hovers:nth-child(1):hover ~ .newcard-image {
  --truckmove: -15%;
}
.newcard-moveimg-hovers:nth-child(2):hover ~ .newcard-image {
  --truckmove: -11.25%;
}
.newcard-moveimg-hovers:nth-child(3):hover ~ .newcard-image {
  --truckmove: -7.5%;
}
.newcard-moveimg-hovers:nth-child(4):hover ~ .newcard-image {
  --truckmove: -3.75%;
}
.newcard-moveimg-hovers:nth-child(5):hover ~ .newcard-image {
  --truckmove: 0%;
}
.newcard-moveimg-hovers:nth-child(6):hover ~ .newcard-image {
  --truckmove: 3.75%;
}
.newcard-moveimg-hovers:nth-child(7):hover ~ .newcard-image {
  --truckmove: 7.5%;
}
.newcard-moveimg-hovers:nth-child(8):hover ~ .newcard-image {
  --truckmove: 11.25%;
}
.newcard-moveimg-hovers:nth-child(9):hover ~ .newcard-image {
  --truckmove: 15%;
}
