.quote-service-pricetable .pt-head,
.quote-service-pricetable .pt-item {
  padding: 1.5rem 1rem;
}

[data-bg="wellpapp"] > .quote-addons-container .qsp-item:hover {
  background-color: white !important;
}

@container (max-width: 28rem) {
  .qsp-item {
    grid-auto-flow: row;
  }
  .qsp-item-price-container {
    justify-self: start;
  }
}

@media screen {
  [data-is-open="false"] .quote-service-pricetable-container {
    max-height: 13rem;
  }

  [data-is-open="false"] .qsp-full-view-button-wrapper {
    display: flex;
  }
}

.cqs-dd-wrapper[data-is-open="true"] {
  background-color: white;
  border-radius: 0.25rem 0.25rem 0px 0px;
  border-color: var(--vs-black);
}
.cqs-dd-wrapper:hover .cqs-dd-toggler,
.cqs-dd-wrapper[data-is-open="true"] .cqs-dd-toggler {
  border-bottom-color: transparent;
}
.cqs-dd-wrapper[data-is-open="false"] .cqs-dd-toggler {
}
.cqs-dd-wrapper[data-is-open="false"] .cqs-dd-content {
  display: none;
}
.cqs-dd-content :last-child {
  border: none;
}

@container (max-width: 38rem) {
  .cqs-dd-wrapper {
    margin-bottom: 0;
    margin-right: 0.5rem;
    grid-column: 1 / span 2;
  }
  .createquote-service-item .createquote-price-container {
    grid-column: 2 / span 1 !important;
    grid-row: 2 / span 1 !important;
    padding-right: 0.5rem;
    align-content: end;
  }
  .createquote-addon-description {
    padding-top: 0.5rem;
    align-self: center;
  }
}

@container (max-width: 34rem) {
  .service-quote-header-container {
    grid-auto-flow: row;
  }

  .quote-service-rt {
    padding: 1rem;
  }

  .service-quote-header-container .quote-usps-list {
    padding: 1rem;
  }
}
