/* GUIDE STEP */

.guide-item-result {
  height: 0rem;
  visibility: hidden;
}

[data-guide-step-current="true"] + .guide-item-result {
  height: 3.5rem;
  visibility: visible;
}

.guide-item-step {
  height: 3.5rem;
}
.quide-step-q-wrapper {
  transform: translateY(calc(100% + 1px));
}
.guide-step-answer-wrapper {
  transform: translateY(1px);
}
.guide-btn-next {
  transform: translateY(calc(-100% - 1px));
}

.guide-step-slot :has(~ [data-guide-step-current="true"]) .guide-pagina {
  --iconFill: var(--vs-black);
  color: var(--white);
}

[data-guide-step-current="true"] {
  height: 24rem;
  visibility: visible;
}

[data-guide-step-current="true"] .quide-step-q-wrapper {
  transform: translateY(0%);
}
[data-guide-step-current="true"] .guide-step-answer-wrapper {
  transform: translateY(0px);
}
[data-guide-step-current="true"] .guide-pagina {
  --iconFill: var(--linen);
  color: var(--vs-black);
  background-color: var(--white);
}

[data-guide-step-current="true"] + [data-guide-step-current] .guide-btn-next {
  transform: translateY(0%);
}
[data-guide-step-current="true"] + [data-guide-step-current] .guide-pagina {
  --iconFill: var(--white);
  background-color: var(--light-grey);
}
