@media (max-width: 767px) {
  .header-navlink:nth-child(1) {
    --i: 1;
  }
  .header-navlink:nth-child(2) {
    --i: 2;
  }
  .header-navlink:nth-child(3) {
    --i: 3;
  }
  .header-navlink:nth-child(4) {
    --i: 4;
  }
  .header-navlink:nth-child(4) {
    --i: 5;
  }
  .header-navlink:nth-child(4) {
    --i: 6;
  }
  .navlinks[data-navlinks-open] {
    --dur: 0.35s;
    --delay: 0.06s;
    will-change: visibility;
    transform-style: preserve-3d;
    transition-property: visibility;
    transition-delay: calc(var(--delay) * 6);
    transition-duration: var(--dur);
    visibility: hidden;
  }
  .navlinks[data-navlinks-open="true"] {
    visibility: visible;
  }

  .navlinks[data-navlinks-open] .header-navlink {
    will-change: translate;
    transform-style: preserve-3d;
    transition-property: translate;
    transition-delay: calc(var(--delay) * var(--i, 0));
    transition-duration: var(--dur);
    transition-timing-function: cubic-bezier(0.5, 0, 1, 1);
    translate: 0 100vh;
  }

  .navlinks[data-navlinks-open="true"] .header-navlink {
    transition-delay: calc(var(--delay) * (6 - var(--i, 0)));
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
    translate: 0 0vh;
  }
}
