.icons-wrapper {
  --s: 1.5rem;
  width: var(--s);
  height: var(--s);
}

.icons-wrapper[data-size="tiny"] {
  --s: 0.75rem;
}
.icons-wrapper[data-size="small"] {
  --s: 1rem;
}
.icons-wrapper[data-size="medium"] {
  --s: 1.25rem;
}
.icons-wrapper[data-size="large"] {
  --s: 1.5rem;
}
.icons-wrapper[data-size="huge"] {
  --s: 2.5rem;
}

.icons-wrapper[data-circle="true"] {
  clip-path: polygon(
    1.25em 0,
    calc(100% - 1.25em) 0,
    calc(100% - 0.6158em) 0.1766em,
    calc(100% - 0.1766em) 0.6158em,
    calc(100% - 0.1608em) 0.65em,
    100% 1.25em,
    calc(100% - 0.1608em) 1.85em,
    calc(100% - 0.1766em) 1.8842em,
    calc(100% - 0.6158em) 2.3234em,
    calc(100% - 1.25em) 2.5em,
    1.25em 2.5em,
    0.6158em em 2.3234em,
    0.1766em 1.8842em,
    0.1608em 1.85em,
    0 1.25em,
    0.1608em 0.65em,
    0.1766em 0.6158em,
    0.6158em 0.1766em,
    1.2125em 0.01em
  );
}
