.icons-wrapper {
  --s: 1.5rem;
  width: var(--s);
  height: var(--s);
  min-width: var(--s);
  min-height: var(--s);
}
.icons-wrapper[data-size="tiny"] {
  --s: 0.75rem;
}
.icons-wrapper[data-size="small"] {
  --s: 1rem;
}
.icons-wrapper[data-size="medium"] {
  --s: 1.25rem;
}
.icons-wrapper[data-size="large"] {
  --s: 1.5rem;
}
.icons-wrapper[data-size="huge"] {
  --s: 3rem;
}

.icons-wrapper[data-size="em"] {
  --s: 1em;
}
.icons-wrapper {
  --bc: var(--color-one, transparent);
  --fc: var(--color-two, var(--vs-black));
}

*:hover > .icons-wrapper[data-parent-hover-reverse-colors="true"],
.icons-wrapper[data-hover-reverse-colors="true"]:hover {
  --bc: var(--color-two, var(--vs-black));
  --fc: var(--color-one, transparent);
}

.icons-wrapper path,
.icons-wrapper line,
.icons-wrapper polygon {
  vector-effect: non-scaling-stroke;
}
