[data-label-shape],
[data-label-shape="0"] {
  min-width: 3em;
  clip-path: polygon(
    1.5em calc(100% - 0em),
    calc(100% - 1.5049em) calc(100% - 0em),
    calc(100% - 0.7647em) calc(100% - 0.1948em),
    calc(100% - 0.7044em) calc(100% - 0.2384em),
    calc(100% - 0.217em) calc(100% - 0.7258em),
    calc(100% - 0.1818em) calc(100% - 0.7909em),
    calc(100% - 0.0034em) calc(100% - 1.4567em),
    calc(100% - 0em) 1.4693em,
    calc(100% - 0.1784em) 0.8035em,
    calc(100% - 0.2077em) 0.735em,
    calc(100% - 0.6951em) 0.2476em,
    calc(100% - 0.752em) 0.1982em,
    calc(100% - 1.4918em) 0em,
    1.5131em 0em,
    0.7729em 0.1948em,
    0.7126em 0.2384em,
    0.2252em 0.7258em,
    0.19em 0.7909em,
    0.0116em 1.4567em,
    0.0082em calc(100% - 1.4693em),
    0.1866em calc(100% - 0.8035em),
    0.2159em calc(100% - 0.735em),
    0.7033em calc(100% - 0.2476em),
    0.7602em calc(100% - 0.1982em),
    1.426em calc(100% - 0.0198em)
  );
}

[data-label-shape="1"] {
  clip-path: polygon(
    0em calc(100% - 0.451em),
    0em calc(100% - 0.3423em),
    0em calc(100% - 0.2337em),
    0em calc(100% - 0.1251em),
    0em calc(100% - 0.0164em),
    0.0922em calc(100% - 0em),
    calc(100% - 0.0834em) calc(100% - 0em),
    calc(100% - 0em) calc(100% - 0.0253em),
    calc(100% - 0em) calc(100% - 0.3512em),
    calc(100% - 0.0062em) calc(100% - 0.4572em),
    calc(100% - 0.2367em) calc(100% - 0.6876em),
    calc(100% - 0.3044em) calc(100% - 0.7697em),
    calc(100% - 0.473em) calc(100% - 1.3993em),
    calc(100% - 0.4989em) 1.4957em,
    calc(100% - 0.3021em) 0.7612em,
    calc(100% - 0.2305em) 0.6814em,
    calc(100% - 0em) 0.451em,
    calc(100% - 0em) 0.3423em,
    calc(100% - 0em) 0.0164em,
    calc(100% - 0.0922em) 0em,
    0.0834em 0em,
    0em 0.0253em,
    0em 0.1339em,
    0em 0.3512em,
    0.0062em 0.4572em,
    0.2367em 0.6876em,
    0.3043em 0.7698em,
    0.473em 1.3993em,
    0.4989em calc(100% - 1.4957em),
    0.302em calc(100% - 0.7612em),
    0.2304em calc(100% - 0.6814em),
    0.0768em calc(100% - 0.5278em)
  );
}
[data-label-shape="2"] {
  clip-path: polygon(
    calc(100% - 0.5em) 0em,
    0.5842em 0em,
    0.5em 0.0154em,
    0.5em 0.4138em,
    0.4866em 0.5em,
    0.0881em 0.5em,
    0em 0.5115em,
    0em 0.6111em,
    0em 0.7107em,
    0em 0.9099em,
    0em 1.0095em,
    0em 1.1091em,
    0.0773em 1.157em,
    0.2614em 1.2333em,
    0.3017em 1.3231em,
    0.3398em 1.4151em,
    0.372em calc(100% - 1.4929em),
    0.2958em calc(100% - 1.3088em),
    0.2471em calc(100% - 1.2274em),
    0.0631em calc(100% - 1.1511em),
    0em calc(100% - 1.0937em),
    0em calc(100% - 0.9941em),
    0em calc(100% - 0.7949em),
    0em calc(100% - 0.6953em),
    0em calc(100% - 0.5956em),
    0.004em calc(100% - 0.5em),
    0.5em calc(100% - 0.498em),
    0.5em calc(100% - 0.0996em),
    0.5em calc(100% - 0em),
    calc(100% - 0.5842em) calc(100% - 0em),
    calc(100% - 0.5em) calc(100% - 0.0154em),
    calc(100% - 0.5em) calc(100% - 0.4139em),
    calc(100% - 0.4865em) calc(100% - 0.5em),
    calc(100% - 0.0881em) calc(100% - 0.5em),
    calc(100% - 0em) calc(100% - 0.5115em),
    calc(100% - 0em) calc(100% - 1.1091em),
    calc(100% - 0.0773em) calc(100% - 1.157em),
    calc(100% - 0.2614em) calc(100% - 1.2333em),
    calc(100% - 0.3017em) calc(100% - 1.3231em),
    calc(100% - 0.3398em) calc(100% - 1.4151em),
    calc(100% - 0.372em) 1.4929em,
    calc(100% - 0.2958em) 1.3088em,
    calc(100% - 0.2471em) 1.2274em,
    calc(100% - 0.0631em) 1.1511em,
    calc(100% - 0em) 1.0937em,
    calc(100% - 0em) 0.5957em,
    calc(100% - 0.0039em) 0.5em,
    calc(100% - 0.5em) 0.498em,
    calc(100% - 0.5em) 0em
  );
}
[data-label-shape="3"] {
  clip-path: polygon(
    0.75em 0em,
    calc(100% - 0.8056em) 0em,
    calc(100% - 0.7415em) 0.0316em,
    calc(100% - 0.6501em) 0.3728em,
    calc(100% - 0.4014em) 0.6231em,
    calc(100% - 0.3258em) 0.6627em,
    calc(100% - 0.07em) 0.7313em,
    calc(100% - 0em) 0.7659em,
    calc(100% - 0em) calc(100% - 0.8214em),
    calc(100% - 0.0163em) calc(100% - 0.7456em),
    calc(100% - 0.3574em) calc(100% - 0.6542em),
    calc(100% - 0.4246em) calc(100% - 0.5999em),
    calc(100% - 0.6119em) calc(100% - 0.4126em),
    calc(100% - 0.6586em) calc(100% - 0.3411em),
    calc(100% - 0.75em) calc(100% - 0em),
    0.8056em calc(100% - 0em),
    0.7415em calc(100% - 0.0316em),
    0.6501em calc(100% - 0.3728em),
    0.4014em calc(100% - 0.6231em),
    0.3258em calc(100% - 0.6627em),
    0.07em calc(100% - 0.7313em),
    0em calc(100% - 0.7659em),
    0em calc(100% - 0.8542em),
    0em calc(100% - 0.9425em),
    0em calc(100% - 1.1191em),
    0em calc(100% - 1.2073em),
    0em calc(100% - 1.3839em),
    0em calc(100% - 1.4722em),
    0em 1.4395em,
    0em 1.3512em,
    0em 1.2629em,
    0em 1.1746em,
    0em 1.0863em,
    0em 0.998em,
    0em 0.9097em,
    0em 0.8214em,
    0.0163em 0.7456em,
    0.3574em 0.6542em,
    0.4246em 0.5999em,
    0.6119em 0.4126em,
    0.6586em 0.3411em,
    0.7271em 0.0853em
  );
}
[data-label-shape="4"] {
  min-width: 6.5em;
  clip-path: polygon(
    3.625em 0em,
    calc(100% - 0.7527em) 0em,
    calc(100% - 0.7268em) 0.0865em,
    calc(100% - 0.6552em) 0.3539em,
    calc(100% - 0.5997em) 0.4248em,
    calc(100% - 0.404em) 0.6206em,
    calc(100% - 0.3254em) 0.6628em,
    calc(100% - 0.058em) 0.7344em,
    calc(100% - 0em) 0.7822em,
    calc(100% - 0em) calc(100% - 0.8337em),
    calc(100% - 0.0083em) calc(100% - 0.7478em),
    calc(100% - 0.3648em) calc(100% - 0.6523em),
    calc(100% - 0.4328em) calc(100% - 0.5917em),
    calc(100% - 0.6285em) calc(100% - 0.396em),
    calc(100% - 0.6657em) calc(100% - 0.3145em),
    calc(100% - 0.7374em) calc(100% - 0.0472em),
    calc(100% - 0.7935em) calc(100% - 0em),
    3.6765em calc(100% - 0em),
    3.6094em calc(100% - 0.0377em),
    3.5388em calc(100% - 0.2082em),
    3.4869em calc(100% - 0.2769em),
    3.3164em calc(100% - 0.3475em),
    3.2312em calc(100% - 0.3672em),
    3.0607em calc(100% - 0.2966em),
    2.9809em calc(100% - 0.2557em),
    2.875em calc(100% - 0em),
    0.7527em calc(100% - 0em),
    0.7268em calc(100% - 0.0865em),
    0.6552em calc(100% - 0.3539em),
    0.5997em calc(100% - 0.4248em),
    0.404em calc(100% - 0.6206em),
    0.3254em calc(100% - 0.6628em),
    0.058em calc(100% - 0.7344em),
    0em calc(100% - 0.7822em),
    0em calc(100% - 0.8745em),
    0em calc(100% - 0.9667em),
    0em calc(100% - 1.059em),
    0em calc(100% - 1.1513em),
    0em calc(100% - 1.2436em),
    0em calc(100% - 1.3358em),
    0em calc(100% - 1.4281em),
    0em 1.4796em,
    0em 1.3873em,
    0em 1.2951em,
    0em 1.2028em,
    0em 1.1105em,
    0em 1.0182em,
    0em 0.926em,
    0em 0.8337em,
    0.0083em 0.7478em,
    0.3648em 0.6523em,
    0.4328em 0.5917em,
    0.6285em 0.396em,
    0.6657em 0.3145em,
    0.7374em 0.0472em,
    0.7935em 0em,
    2.8235em 0em,
    2.8906em 0.0377em,
    2.9612em 0.2082em,
    3.0131em 0.2769em,
    3.1836em 0.3475em,
    3.2688em 0.3672em,
    3.4393em 0.2966em,
    3.5191em 0.2558em,
    3.5897em 0.0852em
  );
}
[data-label-shape="5"] {
  min-width: 7em;
  clip-path: polygon(
    3.125em 0em,
    3.2331em 0.261em,
    3.4917em 0.3715em,
    3.5787em 0.3424em,
    3.7526em 0.2703em,
    3.796em 0.1907em,
    3.8681em 0.0167em,
    3.9511em 0em,
    calc(100% - 0.7207em) 0em,
    calc(100% - 0.6818em) 0.0552em,
    calc(100% - 0.6818em) 0.2436em,
    calc(100% - 0.6292em) 0.316em,
    calc(100% - 0.2297em) 0.7155em,
    calc(100% - 0.1835em) 0.7938em,
    calc(100% - 0.0129em) 1.4305em,
    calc(100% - 0em) calc(100% - 1.4785em),
    calc(100% - 0.195em) calc(100% - 0.7509em),
    calc(100% - 0.6606em) calc(100% - 0.2846em),
    calc(100% - 0.6818em) calc(100% - 0.1991em),
    calc(100% - 0.6818em) calc(100% - 0.0108em),
    calc(100% - 0.7651em) calc(100% - 0em),
    3.9067em calc(100% - 0em),
    3.8511em calc(100% - 0.0577em),
    3.779em calc(100% - 0.2317em),
    3.7116em calc(100% - 0.2873em),
    3.5376em calc(100% - 0.3594em),
    3.4506em calc(100% - 0.3545em),
    3.2766em calc(100% - 0.2825em),
    3.2161em calc(100% - 0.2199em),
    3.144em calc(100% - 0.046em),
    3.0806em calc(100% - 0em),
    0.7264em calc(100% - 0em),
    0.6875em calc(100% - 0.0552em),
    0.6875em calc(100% - 0.2436em),
    0.635em calc(100% - 0.316em),
    0.2355em calc(100% - 0.7155em),
    0.1892em calc(100% - 0.7938em),
    0.0186em calc(100% - 1.4305em),
    0.0057em 1.4785em,
    0.2007em 0.7509em,
    0.6664em 0.2846em,
    0.6875em 0.1991em,
    0.6875em 0.0108em,
    0.7709em 0em,
    3.125em 0em
  );
}
[data-label-shape="6"] {
  clip-path: polygon(
    0.6875em calc(100% - 0.2635em),
    0.6875em calc(100% - 0.0826em),
    0.6954em calc(100% - 0em),
    calc(100% - 0.7831em) calc(100% - 0em),
    calc(100% - 0.7455em) calc(100% - 0.0529em),
    calc(100% - 0.7455em) calc(100% - 0.1433em),
    calc(100% - 0.7223em) calc(100% - 0.2242em),
    calc(100% - 0.2107em) calc(100% - 0.7358em),
    calc(100% - 0.1782em) calc(100% - 0.8179em),
    calc(100% - 0.0144em) calc(100% - 1.4295em),
    calc(100% - 0em) 1.4832em,
    calc(100% - 0.1872em) 0.7843em,
    calc(100% - 0.2353em) 0.7111em,
    calc(100% - 0.7455em) 0.1989em,
    calc(100% - 0.7455em) 0.018em,
    calc(100% - 0.8179em) 0em,
    0.751em 0em,
    0.6875em 0.027em,
    0.6875em 0.2079em,
    0.6629em 0.2881em,
    0.2152em 0.7358em,
    0.1828em 0.8179em,
    0.0189em 1.4295em,
    0.0045em calc(100% - 1.4832em),
    0.1918em calc(100% - 0.7843em),
    0.2398em calc(100% - 0.7111em),
    0.6235em calc(100% - 0.3274em)
  );
}

[data-label-shape="7"] {
  clip-path: polygon(
    calc(100% - 0.25em) 0em,
    2.3012em 0em,
    2.226em 0.0579em,
    2.1824em 0.1631em,
    2.0852em 0.2147em,
    1.98em 0.2417em,
    1.8748em 0.1981em,
    1.801em 0.1231em,
    1.7574em 0.0179em,
    1.6554em 0em,
    0.2887em 0em,
    0.2212em 0.0694em,
    0.1777em 0.1747em,
    0.0737em 0.2195em,
    0em 0.2842em,
    0em 0.398em,
    0.011em 0.5046em,
    0.1163em 0.5482em,
    0.1953em 0.6179em,
    0.2389em 0.7231em,
    0.2175em 0.8284em,
    0.17em 0.9296em,
    0.0647em 0.9732em,
    0em 1.0438em,
    0em 1.1577em,
    0.02em 1.2583em,
    0.1252em 1.3019em,
    0.199em 1.3769em,
    0.2426em 1.4821em,
    0.2138em calc(100% - 1.4127em),
    0.161em calc(100% - 1.3167em),
    0.0558em calc(100% - 1.2731em),
    0em calc(100% - 1.1965em),
    0em calc(100% - 1.0826em),
    0.0289em calc(100% - 0.988em),
    0.1341em calc(100% - 0.9444em),
    0.2027em calc(100% - 0.8642em),
    0.2463em calc(100% - 0.759em),
    0.2101em calc(100% - 0.6538em),
    0.1521em calc(100% - 0.563em),
    0.0469em calc(100% - 0.5194em),
    0em calc(100% - 0.4368em),
    0em calc(100% - 0.3229em),
    0.0378em calc(100% - 0.2343em),
    0.1431em calc(100% - 0.1907em),
    0.2064em calc(100% - 0.1053em),
    0.25em calc(100% - 0.0001em),
    1.7305em calc(100% - 0em),
    1.7861em calc(100% - 0.0873em),
    1.8389em calc(100% - 0.1833em),
    1.9441em calc(100% - 0.2269em),
    2.0494em calc(100% - 0.2295em),
    2.1546em calc(100% - 0.186em),
    2.2112em calc(100% - 0.0937em),
    2.2624em calc(100% - 0em),
    calc(100% - 0.2888em) calc(100% - 0em),
    calc(100% - 0.2212em) calc(100% - 0.0694em),
    calc(100% - 0.1776em) calc(100% - 0.1746em),
    calc(100% - 0.0737em) calc(100% - 0.2195em),
    calc(100% - 0em) calc(100% - 0.2841em),
    calc(100% - 0em) calc(100% - 0.398em),
    calc(100% - 0.011em) calc(100% - 0.5046em),
    calc(100% - 0.1162em) calc(100% - 0.5481em),
    calc(100% - 0.1953em) calc(100% - 0.6179em),
    calc(100% - 0.2389em) calc(100% - 0.7231em),
    calc(100% - 0.2175em) calc(100% - 0.8283em),
    calc(100% - 0.17em) calc(100% - 0.9296em),
    calc(100% - 0.0647em) calc(100% - 0.9732em),
    calc(100% - 0em) calc(100% - 1.0438em),
    calc(100% - 0em) calc(100% - 1.1577em),
    calc(100% - 0.02em) calc(100% - 1.2583em),
    calc(100% - 0.1252em) calc(100% - 1.3019em),
    calc(100% - 0.199em) calc(100% - 1.3769em),
    calc(100% - 0.2426em) calc(100% - 1.4821em),
    calc(100% - 0.2138em) 1.4127em,
    calc(100% - 0.161em) 1.3167em,
    calc(100% - 0.0558em) 1.2731em,
    calc(100% - 0em) 1.1965em,
    calc(100% - 0em) 1.0826em,
    calc(100% - 0.0289em) 0.988em,
    calc(100% - 0.1341em) 0.9444em,
    calc(100% - 0.2027em) 0.8642em,
    calc(100% - 0.2463em) 0.759em,
    calc(100% - 0.2101em) 0.6537em,
    calc(100% - 0.152em) 0.563em,
    calc(100% - 0.0468em) 0.5194em,
    calc(100% - 0em) 0.4368em,
    calc(100% - 0em) 0.3229em,
    calc(100% - 0.0379em) 0.2343em,
    calc(100% - 0.1431em) 0.1907em,
    calc(100% - 0.2064em) 0.1052em,
    calc(100% - 0.25em) 0em
  );
}

[data-label-shape="8"] {
  clip-path: polygon(
    calc(100% - 0.5em) 0em,
    0.5163em 0em,
    0.5em 0.0794em,
    0.5em 0.4619em,
    0.4425em 0.5em,
    0.06em 0.5em,
    0em 0.5356em,
    0em 0.6312em,
    0em 0.7269em,
    0em 0.8225em,
    0em 0.9181em,
    0em 1.0138em,
    0em 1.1094em,
    0em 1.3006em,
    0em 1.3962em,
    0em 1.4919em,
    0em calc(100% - 1.4125em),
    0em calc(100% - 1.3169em),
    0em calc(100% - 1.1256em),
    0em calc(100% - 1.03em),
    0em calc(100% - 0.9344em),
    0em calc(100% - 0.8387em),
    0em calc(100% - 0.7431em),
    0em calc(100% - 0.6475em),
    0em calc(100% - 0.5519em),
    0.0437em calc(100% - 0.5em),
    0.4263em calc(100% - 0.5em),
    0.5em calc(100% - 0.4781em),
    0.5em calc(100% - 0em),
    calc(100% - 0.5162em) calc(100% - 0em),
    calc(100% - 0.5em) calc(100% - 0.0794em),
    calc(100% - 0.5em) calc(100% - 0.4619em),
    calc(100% - 0.4425em) calc(100% - 0.5em),
    calc(100% - 0.06em) calc(100% - 0.5em),
    calc(100% - 0em) calc(100% - 0.5356em),
    calc(100% - 0em) 0.5519em,
    calc(100% - 0.0438em) 0.5em,
    calc(100% - 0.4263em) 0.5em,
    calc(100% - 0.5em) 0.4781em,
    calc(100% - 0.5em) 0em
  );
}
