[data-label-shape],
[data-label-shape="0"] {
  clip-path: polygon(
    1.5rem calc(100% - 0rem),
    calc(100% - 1.5049rem) calc(100% - 0rem),
    calc(100% - 0.7647rem) calc(100% - 0.1948rem),
    calc(100% - 0.7044rem) calc(100% - 0.2384rem),
    calc(100% - 0.217rem) calc(100% - 0.7258rem),
    calc(100% - 0.1818rem) calc(100% - 0.7909rem),
    calc(100% - 0.0034rem) calc(100% - 1.4567rem),
    calc(100% - 0rem) 1.4693rem,
    calc(100% - 0.1784rem) 0.8035rem,
    calc(100% - 0.2077rem) 0.735rem,
    calc(100% - 0.6951rem) 0.2476rem,
    calc(100% - 0.752rem) 0.1982rem,
    calc(100% - 1.4918rem) 0rem,
    1.5131rem 0rem,
    0.7729rem 0.1948rem,
    0.7126rem 0.2384rem,
    0.2252rem 0.7258rem,
    0.19rem 0.7909rem,
    0.0116rem 1.4567rem,
    0.0082rem calc(100% - 1.4693rem),
    0.1866rem calc(100% - 0.8035rem),
    0.2159rem calc(100% - 0.735rem),
    0.7033rem calc(100% - 0.2476rem),
    0.7602rem calc(100% - 0.1982rem),
    1.426rem calc(100% - 0.0198rem)
  );
}

[data-label-shape="1"] {
  clip-path: polygon(
    0rem calc(100% - 0.451rem),
    0rem calc(100% - 0.3423rem),
    0rem calc(100% - 0.2337rem),
    0rem calc(100% - 0.1251rem),
    0rem calc(100% - 0.0164rem),
    0.0922rem calc(100% - 0rem),
    calc(100% - 0.0834rem) calc(100% - 0rem),
    calc(100% - 0rem) calc(100% - 0.0253rem),
    calc(100% - 0rem) calc(100% - 0.3512rem),
    calc(100% - 0.0062rem) calc(100% - 0.4572rem),
    calc(100% - 0.2367rem) calc(100% - 0.6876rem),
    calc(100% - 0.3044rem) calc(100% - 0.7697rem),
    calc(100% - 0.473rem) calc(100% - 1.3993rem),
    calc(100% - 0.4989rem) 1.4957rem,
    calc(100% - 0.3021rem) 0.7612rem,
    calc(100% - 0.2305rem) 0.6814rem,
    calc(100% - 0rem) 0.451rem,
    calc(100% - 0rem) 0.3423rem,
    calc(100% - 0rem) 0.0164rem,
    calc(100% - 0.0922rem) 0rem,
    0.0834rem 0rem,
    0rem 0.0253rem,
    0rem 0.1339rem,
    0rem 0.3512rem,
    0.0062rem 0.4572rem,
    0.2367rem 0.6876rem,
    0.3043rem 0.7698rem,
    0.473rem 1.3993rem,
    0.4989rem calc(100% - 1.4957rem),
    0.302rem calc(100% - 0.7612rem),
    0.2304rem calc(100% - 0.6814rem),
    0.0768rem calc(100% - 0.5278rem)
  );
}
[data-label-shape="2"] {
  clip-path: polygon(
    calc(100% - 0.5rem) 0rem,
    0.5842rem 0rem,
    0.5rem 0.0154rem,
    0.5rem 0.4138rem,
    0.4866rem 0.5rem,
    0.0881rem 0.5rem,
    0rem 0.5115rem,
    0rem 0.6111rem,
    0rem 0.7107rem,
    0rem 0.9099rem,
    0rem 1.0095rem,
    0rem 1.1091rem,
    0.0773rem 1.157rem,
    0.2614rem 1.2333rem,
    0.3017rem 1.3231rem,
    0.3398rem 1.4151rem,
    0.372rem calc(100% - 1.4929rem),
    0.2958rem calc(100% - 1.3088rem),
    0.2471rem calc(100% - 1.2274rem),
    0.0631rem calc(100% - 1.1511rem),
    0rem calc(100% - 1.0937rem),
    0rem calc(100% - 0.9941rem),
    0rem calc(100% - 0.7949rem),
    0rem calc(100% - 0.6953rem),
    0rem calc(100% - 0.5956rem),
    0.004rem calc(100% - 0.5rem),
    0.5rem calc(100% - 0.498rem),
    0.5rem calc(100% - 0.0996rem),
    0.5rem calc(100% - 0rem),
    calc(100% - 0.5842rem) calc(100% - 0rem),
    calc(100% - 0.5rem) calc(100% - 0.0154rem),
    calc(100% - 0.5rem) calc(100% - 0.4139rem),
    calc(100% - 0.4865rem) calc(100% - 0.5rem),
    calc(100% - 0.0881rem) calc(100% - 0.5rem),
    calc(100% - 0rem) calc(100% - 0.5115rem),
    calc(100% - 0rem) calc(100% - 1.1091rem),
    calc(100% - 0.0773rem) calc(100% - 1.157rem),
    calc(100% - 0.2614rem) calc(100% - 1.2333rem),
    calc(100% - 0.3017rem) calc(100% - 1.3231rem),
    calc(100% - 0.3398rem) calc(100% - 1.4151rem),
    calc(100% - 0.372rem) 1.4929rem,
    calc(100% - 0.2958rem) 1.3088rem,
    calc(100% - 0.2471rem) 1.2274rem,
    calc(100% - 0.0631rem) 1.1511rem,
    calc(100% - 0rem) 1.0937rem,
    calc(100% - 0rem) 0.5957rem,
    calc(100% - 0.0039rem) 0.5rem,
    calc(100% - 0.5rem) 0.498rem,
    calc(100% - 0.5rem) 0rem
  );
}
[data-label-shape="3"] {
  clip-path: polygon(
    0.75rem 0rem,
    calc(100% - 0.8056rem) 0rem,
    calc(100% - 0.7415rem) 0.0316rem,
    calc(100% - 0.6501rem) 0.3728rem,
    calc(100% - 0.4014rem) 0.6231rem,
    calc(100% - 0.3258rem) 0.6627rem,
    calc(100% - 0.07rem) 0.7313rem,
    calc(100% - 0rem) 0.7659rem,
    calc(100% - 0rem) calc(100% - 0.8214rem),
    calc(100% - 0.0163rem) calc(100% - 0.7456rem),
    calc(100% - 0.3574rem) calc(100% - 0.6542rem),
    calc(100% - 0.4246rem) calc(100% - 0.5999rem),
    calc(100% - 0.6119rem) calc(100% - 0.4126rem),
    calc(100% - 0.6586rem) calc(100% - 0.3411rem),
    calc(100% - 0.75rem) calc(100% - 0rem),
    0.8056rem calc(100% - 0rem),
    0.7415rem calc(100% - 0.0316rem),
    0.6501rem calc(100% - 0.3728rem),
    0.4014rem calc(100% - 0.6231rem),
    0.3258rem calc(100% - 0.6627rem),
    0.07rem calc(100% - 0.7313rem),
    0rem calc(100% - 0.7659rem),
    0rem calc(100% - 0.8542rem),
    0rem calc(100% - 0.9425rem),
    0rem calc(100% - 1.1191rem),
    0rem calc(100% - 1.2073rem),
    0rem calc(100% - 1.3839rem),
    0rem calc(100% - 1.4722rem),
    0rem 1.4395rem,
    0rem 1.3512rem,
    0rem 1.2629rem,
    0rem 1.1746rem,
    0rem 1.0863rem,
    0rem 0.998rem,
    0rem 0.9097rem,
    0rem 0.8214rem,
    0.0163rem 0.7456rem,
    0.3574rem 0.6542rem,
    0.4246rem 0.5999rem,
    0.6119rem 0.4126rem,
    0.6586rem 0.3411rem,
    0.7271rem 0.0853rem
  );
}
[data-label-shape="4"] {
  clip-path: polygon(
    3.625rem 0rem,
    calc(100% - 0.7527rem) 0rem,
    calc(100% - 0.7268rem) 0.0865rem,
    calc(100% - 0.6552rem) 0.3539rem,
    calc(100% - 0.5997rem) 0.4248rem,
    calc(100% - 0.404rem) 0.6206rem,
    calc(100% - 0.3254rem) 0.6628rem,
    calc(100% - 0.058rem) 0.7344rem,
    calc(100% - 0rem) 0.7822rem,
    calc(100% - 0rem) calc(100% - 0.8337rem),
    calc(100% - 0.0083rem) calc(100% - 0.7478rem),
    calc(100% - 0.3648rem) calc(100% - 0.6523rem),
    calc(100% - 0.4328rem) calc(100% - 0.5917rem),
    calc(100% - 0.6285rem) calc(100% - 0.396rem),
    calc(100% - 0.6657rem) calc(100% - 0.3145rem),
    calc(100% - 0.7374rem) calc(100% - 0.0472rem),
    calc(100% - 0.7935rem) calc(100% - 0rem),
    3.6765rem calc(100% - 0rem),
    3.6094rem calc(100% - 0.0377rem),
    3.5388rem calc(100% - 0.2082rem),
    3.4869rem calc(100% - 0.2769rem),
    3.3164rem calc(100% - 0.3475rem),
    3.2312rem calc(100% - 0.3672rem),
    3.0607rem calc(100% - 0.2966rem),
    2.9809rem calc(100% - 0.2557rem),
    2.875rem calc(100% - 0rem),
    0.7527rem calc(100% - 0rem),
    0.7268rem calc(100% - 0.0865rem),
    0.6552rem calc(100% - 0.3539rem),
    0.5997rem calc(100% - 0.4248rem),
    0.404rem calc(100% - 0.6206rem),
    0.3254rem calc(100% - 0.6628rem),
    0.058rem calc(100% - 0.7344rem),
    0rem calc(100% - 0.7822rem),
    0rem calc(100% - 0.8745rem),
    0rem calc(100% - 0.9667rem),
    0rem calc(100% - 1.059rem),
    0rem calc(100% - 1.1513rem),
    0rem calc(100% - 1.2436rem),
    0rem calc(100% - 1.3358rem),
    0rem calc(100% - 1.4281rem),
    0rem 1.4796rem,
    0rem 1.3873rem,
    0rem 1.2951rem,
    0rem 1.2028rem,
    0rem 1.1105rem,
    0rem 1.0182rem,
    0rem 0.926rem,
    0rem 0.8337rem,
    0.0083rem 0.7478rem,
    0.3648rem 0.6523rem,
    0.4328rem 0.5917rem,
    0.6285rem 0.396rem,
    0.6657rem 0.3145rem,
    0.7374rem 0.0472rem,
    0.7935rem 0rem,
    2.8235rem 0rem,
    2.8906rem 0.0377rem,
    2.9612rem 0.2082rem,
    3.0131rem 0.2769rem,
    3.1836rem 0.3475rem,
    3.2688rem 0.3672rem,
    3.4393rem 0.2966rem,
    3.5191rem 0.2558rem,
    3.5897rem 0.0852rem
  );
}
[data-label-shape="5"] {
  clip-path: polygon(
    3.125rem 0rem,
    3.2331rem 0.261rem,
    3.4917rem 0.3715rem,
    3.5787rem 0.3424rem,
    3.7526rem 0.2703rem,
    3.796rem 0.1907rem,
    3.8681rem 0.0167rem,
    3.9511rem 0rem,
    calc(100% - 0.7207rem) 0rem,
    calc(100% - 0.6818rem) 0.0552rem,
    calc(100% - 0.6818rem) 0.2436rem,
    calc(100% - 0.6292rem) 0.316rem,
    calc(100% - 0.2297rem) 0.7155rem,
    calc(100% - 0.1835rem) 0.7938rem,
    calc(100% - 0.0129rem) 1.4305rem,
    calc(100% - 0rem) calc(100% - 1.4785rem),
    calc(100% - 0.195rem) calc(100% - 0.7509rem),
    calc(100% - 0.6606rem) calc(100% - 0.2846rem),
    calc(100% - 0.6818rem) calc(100% - 0.1991rem),
    calc(100% - 0.6818rem) calc(100% - 0.0108rem),
    calc(100% - 0.7651rem) calc(100% - 0rem),
    3.9067rem calc(100% - 0rem),
    3.8511rem calc(100% - 0.0577rem),
    3.779rem calc(100% - 0.2317rem),
    3.7116rem calc(100% - 0.2873rem),
    3.5376rem calc(100% - 0.3594rem),
    3.4506rem calc(100% - 0.3545rem),
    3.2766rem calc(100% - 0.2825rem),
    3.2161rem calc(100% - 0.2199rem),
    3.144rem calc(100% - 0.046rem),
    3.0806rem calc(100% - 0rem),
    0.7264rem calc(100% - 0rem),
    0.6875rem calc(100% - 0.0552rem),
    0.6875rem calc(100% - 0.2436rem),
    0.635rem calc(100% - 0.316rem),
    0.2355rem calc(100% - 0.7155rem),
    0.1892rem calc(100% - 0.7938rem),
    0.0186rem calc(100% - 1.4305rem),
    0.0057rem 1.4785rem,
    0.2007rem 0.7509rem,
    0.6664rem 0.2846rem,
    0.6875rem 0.1991rem,
    0.6875rem 0.0108rem,
    0.7709rem 0rem,
    3.125rem 0rem
  );
}
[data-label-shape="6"] {
  clip-path: polygon(
    0.6875rem calc(100% - 0.2635rem),
    0.6875rem calc(100% - 0.0826rem),
    0.6954rem calc(100% - 0rem),
    calc(100% - 0.7831rem) calc(100% - 0rem),
    calc(100% - 0.7455rem) calc(100% - 0.0529rem),
    calc(100% - 0.7455rem) calc(100% - 0.1433rem),
    calc(100% - 0.7223rem) calc(100% - 0.2242rem),
    calc(100% - 0.2107rem) calc(100% - 0.7358rem),
    calc(100% - 0.1782rem) calc(100% - 0.8179rem),
    calc(100% - 0.0144rem) calc(100% - 1.4295rem),
    calc(100% - 0rem) 1.4832rem,
    calc(100% - 0.1872rem) 0.7843rem,
    calc(100% - 0.2353rem) 0.7111rem,
    calc(100% - 0.7455rem) 0.1989rem,
    calc(100% - 0.7455rem) 0.018rem,
    calc(100% - 0.8179rem) 0rem,
    0.751rem 0rem,
    0.6875rem 0.027rem,
    0.6875rem 0.2079rem,
    0.6629rem 0.2881rem,
    0.2152rem 0.7358rem,
    0.1828rem 0.8179rem,
    0.0189rem 1.4295rem,
    0.0045rem calc(100% - 1.4832rem),
    0.1918rem calc(100% - 0.7843rem),
    0.2398rem calc(100% - 0.7111rem),
    0.6235rem calc(100% - 0.3274rem)
  );
}
