/* Landingpage hero */
.landingpage-hero-wrapper .head-arrow-title-wrapper {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
}
.landingpage-hero-wrapper .head-arrow-title-wrapper path {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  stroke: #171717;
}

.landingpage-hero-wrapper .head-arrow-title-wrapper path,
.landingpage-hero-wrapper .head-arrow-title-wrapper {
  transition-property: color, fill, -webkit-text-stroke-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  transition-duration: 0.2s;
}

.landingpage-hero-link-wrapper:hover .head-arrow-title-wrapper {
  color: transparent;
  -webkit-text-stroke-color: #171717;
}

.landingpage-hero-link-wrapper:hover .head-arrow-title-wrapper path {
  fill: transparent;
}

.landingpage-hero-wrapper:hover
  .landingpage-hero-link-wrapper:not(:hover)
  .head-arrow-title-wrapper {
  color: #171717;
}

.landingpage-hero-wrapper:hover
  .landingpage-hero-link-wrapper:not(:hover)
  .head-arrow-title-wrapper
  path {
  fill: #171717;
}

.landingpage-hero-marquee {
  visibility: hidden;
  opacity: 0;
  translate: 0% 2rem;
  will-change: opacity, translate, visibility;
  transition-property: opacity, translate, visibility;
  transition-timing-function: cubic-bezier(0.5, 0, 1, 1);
  transition-duration: 0.2s, 0.25s, 0s;
  transition-delay: 0s, 0s, 0.25s;
}

@media screen and (min-width: 677px) {
  .landingpage-hero-link-wrapper:hover .landingpage-hero-marquee {
    visibility: visible;
    opacity: 1;
    translate: 0% 0rem;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-duration: 0.25s, 1s, 0s;
    transition-delay: 0s;
  }

  .landingpage-hero-link-wrapper:hover .txt-marquee-sliding-container:hover {
    animation-play-state: running;
  }
}

.landing-hero-service-link,
.landing-hero-truck-link {
  font-size: clamp(64px, 14vw, 280px);
}
.landing-hero-arrow {
  height: clamp(40px, 8.5vw, 170px);
}
:has(.landing-hero-service-link:hover) .landing-hero-truck-link,
:has(.landing-hero-truck-link:hover) .landing-hero-service-link {
  color: transparent;
  -webkit-text-stroke-width: 1px;
}
:has(.landing-hero-service-link:hover) [data-arrow="truckar"] polygon {
  fill: transparent;
}
:has(.landing-hero-service-link:hover) [data-arrow="service"] polygon {
  fill: #171717;
}
