.logolist--link-marquee-container {
  animation: logolist--link-marquee-container 25s linear infinite both;
}
.logolist--link-marquee-wrapper:hover .logolist--link-marquee-container {
  animation-play-state: paused;
}
@keyframes logolist--link-marquee-container {
  0% {
    translate: 0% 0%;
  }
  100% {
    translate: -100% 0%;
  }
}

.logolist--text-container[data-not-sticky="true"] {
  position: static;
}

.logolist--wrapper[data-monochrome-logos="true"] .logolist--link:not(:hover) {
  filter: grayscale(100%) brightness(0);
}
