.poi-outer {
  animation: poi-outer 1s cubic-bezier(0.3, 0, 0.7, 1) alternate infinite;
}

@keyframes poi-outer {
  from {
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.poi-slot .poi-wrapper:nth-child(1) {
  --x: 45%;
  --y: 75%;
}
.poi-slot .poi-wrapper:nth-child(2) {
  --x: 75%;
  --y: 45%;
}
.poi-slot .poi-wrapper:nth-child(3) {
  --x: 37%;
  --y: 35%;
}

.poi-popup {
  transition: scale 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* position anchor point  */
@media (min-width: 479px) {
  [data-anchor-position*="top"] {
    top: auto;
    bottom: 100%;
    transform-origin: 50% 100%;
  }
  [data-anchor-position*="bottom"] {
    top: 100%;
    bottom: auto;
    transform-origin: 50% 0%;
  }
  [data-anchor-position*="right"] {
    right: 1.5rem;
    left: auto;
    transform-origin: 100% 50%;
  }
  [data-anchor-position*="left"] {
    right: auto;
    left: 1.5rem;
    transform-origin: 0% 50%;
  }
}
