.poi-outer {
  animation: poi-outer 1s cubic-bezier(0.3, 0, 0.7, 1) alternate infinite;
}

@keyframes poi-outer {
  from {
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.poi-slot .poi-wrapper:nth-child(1) {
  --x: 45%;
  --y: 75%;
}
.poi-slot .poi-wrapper:nth-child(2) {
  --x: 75%;
  --y: 45%;
}
.poi-slot .poi-wrapper:nth-child(3) {
  --x: 37%;
  --y: 35%;
}

[data-poi-is-open="false"] .poi-inner {
  transform: scale(1);
}

[data-poi-is-open="true"] .poi-inner {
  transform: scale(2);
}

[data-poi-is-open="false"] .poi-popup {
  opacity: 0;
  transform: scale(0);
}

[data-poi-is-open="true"] .poi-popup {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 478px) {
  [data-poi-is-open="true"] .poi-overlay {
    display: flex !important;
  }
}
/* position anchor point  */
@media (min-width: 479px) {
  [data-anchor-position*="top"] {
    top: auto;
    bottom: 100%;
  }
  [data-anchor-position*="bottom"] {
    top: 100%;
    bottom: auto;
  }
  [data-anchor-position*="right"] {
    right: 1.5rem;
    left: auto;
  }
  [data-anchor-position*="left"] {
    right: auto;
    left: 1.5rem;
  }
  [data-anchor-position*="top"] .poi-popup {
    transform-origin: 50% 100%;
  }
  [data-anchor-position*="bottom"] .poi-popup {
    transform-origin: 50% 0%;
  }
  [data-anchor-position*="right"] .poi-popup {
    transform-origin: 100% 50%;
  }
  [data-anchor-position*="left"] .poi-popup {
    transform-origin: 0% 50%;
  }
}
