.poi-outer {
  animation: poi-outer 1s cubic-bezier(0.3, 0, 0.7, 1) alternate infinite;
}

@keyframes poi-outer {
  from {
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.poi-slot .poi-wrapper:nth-child(1) {
  --x: 45%;
  --y: 75%;
}
.poi-slot .poi-wrapper:nth-child(2) {
  --x: 75%;
  --y: 45%;
}
.poi-slot .poi-wrapper:nth-child(3) {
  --x: 37%;
  --y: 35%;
}

/* position anchor point  */
@media (max-width: 478px) {
  .poi-popup {
    // scale: unset;
    // translate: unset;
    // transform: unset;
    // opacity: unset;
    // transform-origin: unset;
    // will-change: bottom;
    // bottom: -15rem;
    // transition: bottom 0.5s cubic-bezier(0.4, 0, 0, 1);
    display: none;
  }
  .poi-wrapper:hover .poi-popup,
  .poi-wrapper:focus .poi-popup,
  .poi-wrapper:focus-within .poi-popup {
    // bottom: 0rem;
    display: flex;
  }
}
@media (min-width: 479px) {
  [data-anchor-position*="top"] {
    top: auto;
    bottom: 100%;
    transform-origin: 50% 100%;
  }
  [data-anchor-position*="bottom"] {
    top: 100%;
    bottom: auto;
    transform-origin: 50% 0%;
  }
  [data-anchor-position*="right"] {
    right: 1.5rem;
    left: auto;
    transform-origin: 100% 50%;
  }
  [data-anchor-position*="left"] {
    right: auto;
    left: 1.5rem;
    transform-origin: 0% 50%;
  }
}
