.pricetable-wrapper:not(
    [data-bg="white"],
    [data-bg="transparent"],
    [data-bg=""]
  ) {
  --lihover: var(--white);
}
.pt-item-price-container[data-line-through="true"] {
  color: var(--dark-grey);
}
.pt-item-price-container[data-line-through="true"] .pt-item-price-discount {
  background-color: var(--light-grey);
}

.pt-item-price-container:has(.pt-item-price-discount :first-child:not(:empty)) {
  justify-self: end;
}
