.bf-leasing-popup-wrapper {
  will-change: visibility;
  transition: visibility 500ms, background-color 500ms;
}
.bf-leasing-popup-wrapper,
.bf-leasing-popup-wrapper[leasing-setting-open="false"] {
  --isOpen: 0;
  --visibility: hidden;
}
.bf-leasing-popup-wrapper[leasing-setting-open="true"] {
  --isOpen: 1;
  --visibility: visible;
}
.bf-wrapper .bf-modal-nav-container .bf-modal-submit-btn::after {
  content: "Gå Vidare";
}
.bf-wrapper[data-step="2"] .bf-modal-nav-container .bf-modal-submit-btn::after,
.bf-wrapper[data-step="3"] .bf-modal-nav-container .bf-modal-submit-btn::after {
  content: "Skicka förfrågan";
}

.bf-wrapper[data-step="-1"] {
  display: none;
}
