.related-product-price-container {
  animation: related-product-price-container 10s cubic-bezier(0.5, 0, 0.5, 1)
    both infinite;
}

@keyframes related-product-price-container {
  0%,
  100% {
    rotate: -6deg;
    translate: 0 -1rem;
  }
  16.5%,
  46.5%,
  82.5% {
    rotate: 6deg;
  }
  33%,
  66% {
    rotate: -6deg;
  }
  25%,
  75% {
    translate: 0 1rem;
  }
  50% {
    translate: 0 -1rem;
  }
}

/* TRUCKIMAGE HOVER MOVE */
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(1):hover
  )
  .related-product-img-container {
  --truckmove: -5;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(2):hover
  )
  .related-product-img-container {
  --truckmove: -4;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(3):hover
  )
  .related-product-img-container {
  --truckmove: -3;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(4):hover
  )
  .related-product-img-container {
  --truckmove: -2;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(5):hover
  )
  .related-product-img-container {
  --truckmove: -1;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(6):hover
  )
  .related-product-img-container {
  --truckmove: 0;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(7):hover
  )
  .related-product-img-container {
  --truckmove: 1;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(8):hover
  )
  .related-product-img-container {
  --truckmove: 2;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(9):hover
  )
  .related-product-img-container {
  --truckmove: 3;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(10):hover
  )
  .related-product-img-container {
  --truckmove: 4;
}
.related-product-container:has(
    .related-product-imgmove-hover:nth-child(11):hover
  )
  .related-product-img-container {
  --truckmove: 5;
}

/* TRUCKIMAGE MOVE IN MOBILE */

[data-is-inview="true"]
  > .related-product-container
  > .related-product-img-container {
  --truckmove-mobile: 0;
}
[data-passed="true"]
  > .related-product-container
  > .related-product-img-container {
  --truckmove-mobile: -10;
}
