.related-product-price-container {
  animation: related-product-price-container 5s cubic-bezier(0.5, 0, 0.5, 1)
    both infinite;
}

@keyframes related-product-price-container {
  0%,
  100% {
    rotate: -6deg;
    translate: 0 -1rem;
  }
  25%,
  75% {
    translate: 0 1rem;
  }
  50% {
    rotate: 6deg;
    translate: 0 -1rem;
  }
}

@keyframes related-product-price-container {
  0%,
  100% {
    rotate: -6deg;
    translate: 0 -1rem;
  }
  25%,
  75% {
    rotate: 6deg;
  }
  50% {
    rotate: -6deg;
    translate: 0 1rem;
  }
}
