.stf-item[data-is-selected="true"] {
  background-color: red;
}

.stf-wrapper[data-show-compare] .stf-comparetable {
  --show: minmax(0px, 0fr);
}
.stf-wrapper[data-show-compare="true"] .stf-comparetable {
  --show: minmax(0px, 1fr);
}
