.stf-item[data-is-selected="true"] {
  background-color: red;
}

.stf-wrapper[data-show-compare] .stf-comparetable {
  --show: minmax(0px, 0fr);
}
.stf-wrapper[data-show-compare="true"] .stf-comparetable {
  --show: minmax(0px, 1fr);
}

.stf-item[data-is-selected="true"]
  .stf-radio[data-radio-selected="1"]
  .stf-radio-selector:first-child,
.stf-item[data-is-selected="true"]
  .stf-radio[data-radio-selected="2"]
  .stf-radio-selector:last-child {
  --check: var(--vs-black);
  --fil: white;
}
