.togglebox-wrapper[data-is-selected="true"][data-has-slot-content="true"]:not(
    :hover
  ) {
  background-color: var(--linen) !important;
}

.togglebox-wrapper[data-is-selected="true"][data-has-slot-content="true"] {
  grid-column-end: span 2 !important;
}

.togglebox-wrapper[data-has-slot-content="false"] [data-hide-is-selected] {
  display: none;
}
