.togglebox-wrapper[data-is-selected="true"][data-has-slot-content="true"] {
  background-color: var(--linen) !important;
}

.togglebox-wrapper[data-is-selected="true"][data-has-slot-content="true"] {
  grid-column-end: span 2 !important;
}

.togglebox-wrapper[data-is-selected="false"] .togglebox-slot-wrapper,
.togglebox-wrapper[data-has-slot-content="false"] .togglebox-slot-wrapper {
  display: none;
}
