[data-tooltip] {
  position: relative;
  overflow: visible;
  padding-right: 0.875em;
  cursor: help;
  background-repeat: repeat-x;
  background-image: repeating-linear-gradient(
    90deg,
    #000 0px,
    #000 1px,
    transparent 1px,
    transparent 3px
  );
  background-position: 0 100%;
  background-size: 100% 1px;
}

[data-tooltip]:hover {
  opacity: 1;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  transform: translateX(-50%);
  bottom: calc(100% + 0.5rem + 4px);
  left: 50%;
  display: none;
  width: 100%;
  max-width: 30rem;
  min-width: 20rem;
  padding: 1rem 1.25rem;
  border: 1px solid var(--vs-black);
  background-color: var(--white);
  box-shadow: 4px 4px 0 0 var(--vs-black);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  z-index: 100;
}

[data-tooltip]:hover::before {
  display: flex;
}

@media screen and (max-width: 767px) {
  [data-tooltip]::before {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    transform: translateX(0%);
    pointer-events: none;
    max-width: auto;
    min-width: auto;
    width: auto;
  }
}

[data-tooltip]::after {
  content: "?";
  clip-path: polygon(
    50% 0%,
    75% 6.7%,
    93.3% 25%,
    100% 50%,
    93.3% 75%,
    75% 93.3%,
    50% 100%,
    25% 93.3%,
    6.7% 75%,
    0% 50%,
    6.7% 25%,
    25% 6.7%,
    50% 0%
  );
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0% -50%;
  font-size: 0.5em;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  background-color: var(--vs-black);
  color: var(--white);
}
