.trucksingel-imgs-pagination-wrapper::before {
  content: "Bilder";
  display: flex;
  width: 5rem;
  height: 2rem;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--linen);
  outline-color: var(--vs-black);
  outline-offset: -0.5px;
  outline-style: solid;
  outline-width: 1px;
}

.trucksingel-imgs-pagination-wrapper {
  counter-reset: imgNr;
}

.trucksingel-imgs-pagination-nr-txt::before {
  counter-increment: imgNr;
  content: counter(imgNr, decimal-leading-zero);
}
