.card-table-attr-title-wrapper::before,
.card-table-attr-title-wrapper .card-table-attr-title-txt {
  will-change: translate;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.1, 1);
  transition-property: translate;
}

.card-table-attr-title-wrapper::before {
  content: " ";
  width: 1em;
  height: 1em;
  clip-path: polygon(
    17.55% 49.75%,
    48.05% 78.55%,
    78.85% 49.65%,
    74.05% 44.15%,
    51.85% 65.45%,
    51.85% 18.75%,
    44.65% 18.75%,
    44.65% 65.75%,
    22.45% 44.35%,
    17.55% 49.75%
  );
  opacity: 0;
  background-color: currentColor;
  transition-property: translate, opacity, rotate;
}

.card-table-attr-title-wrapper:hover::before,
.card-table-attr-title-wrapper[data-order="asc"]::before,
.card-table-attr-title-wrapper[data-order="dsc"]::before {
  opacity: 1;
}

.card-table-attr-title-wrapper[data-order="dsc"]::before {
  rotate: 180deg;
}

.card-table-attr-title-wrapper:hover::before,
.card-table-attr-title-wrapper:hover .card-table-attr-title-txt,
.card-table-attr-title-wrapper[data-order="asc"]::before,
.card-table-attr-title-wrapper[data-order="asc"] .card-table-attr-title-txt,
.card-table-attr-title-wrapper[data-order="dsc"]::before,
.card-table-attr-title-wrapper[data-order="dsc"] .card-table-attr-title-txt {
  translate: 0.5rem 0rem;
}

.card-table-attr-title-wrapper[data-order="asc"],
.card-table-attr-title-wrapper[data-order="dsc"] {
  background-color: var(--silver);
}

.card-table-wrapper::before {
  content: " ";
  position: sticky;
  left: 0px;
  z-index: 2;
  width: 4rem;
  min-height: 4rem;
  background-color: var(--white);
  box-shadow: 0.25rem 0 0 0 var(--dim-light-grey);
  outline-color: var(--vs-black);
  outline-offset: -0.5px;
  outline-style: solid;
  outline-width: 1px;
  grid-area: 1 / 1 / 1 / 1;
}
