.trucksingel-imgs-pagination-wrapper::before {
  content: "Bilder";
  display: flex;
  width: 5rem;
  height: 2rem;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--linen);
  outline-color: var(--vs-black);
  outline-offset: -0.5px;
  outline-style: solid;
  outline-width: 1px;
}

/*@counter-style imgNrFormatFallback {
  system: numeric;
}

@counter-style imgNrFormat {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  pad: 3 "0";
  fallback: imgNrFormatFallback;
}

.trucksingel-imgs-pagination-wrapper {
  counter-reset: imgNr;
}

.trucksingel-imgs-pagination-nr-txt::before {
  counter-increment: imgNr;
  content: counter(imgNr, imgNrFormat);
}*/

@counter-style imgNrFormatFallback {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
}

@counter-style imgNrFormat {
  system: fixed;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: " ";
  pad: 3 "0";
  fallback: imgNrFormatFallback;
}

.trucksingel-imgs-pagination-wrapper {
  counter-reset: imgNr;
}

.trucksingel-imgs-pagination-nr-txt::before {
  counter-increment: imgNr;
  content: counter(imgNr, decimal-leading-zero);
}

.trucksingel-imgs-pagination-nr-txt::before {
  counter-increment: imgNr;
  content: counter(imgNr, imgNrFormat);
}

.poi-outer {
  animation: poi-outer 1s cubic-bezier(0.3, 0, 0.7, 1) alternate infinite;
}

@keyframes poi-outer {
  from {
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.poi-slot .poi-wrapper:nth-child(1) {
  --x: 45%;
  --y: 75%;
}
.poi-slot .poi-wrapper:nth-child(2) {
  --x: 75%;
  --y: 45%;
}
.poi-slot .poi-wrapper:nth-child(3) {
  --x: 37%;
  --y: 35%;
}
