.trucksingle-attr-category-wrapper {
  will-change: grid-template-rows, transform;
  transition-property: grid-template-rows, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.1, 1);
}

.trucksingle-attr-category-attr-list[data-single-column="true"] {
  grid-template-columns: 1fr;
}
