/* INIT CSS */

:root {
  --fsMin: 16;
  --fsMax: 19;
  --vpMin: 1440;
  --vpMax: 1920;
  --scrollBarWidth: 16px;
  --grid-spacing: 1.5rem;
  --viewport-width: 100vw;
  --column-width: min(
    calc(
      (
          var(--viewport-width) - var(--scrollBarWidth) -
            (13 * var(--grid-spacing))
        ) / 12
    ),
    calc((2000px - (11 * 28.5px)) / 12)
  );
  --container-width: calc(
    var(--column-width) * 12 + (var(--grid-spacing) * 11)
  );
}

@media (max-width: 960px) {
  :root {
    --scrollBarWidth: 0px;
  }
}

@media (max-width: 1440px) {
  :root {
    --fsMin: 14;
    --fsMax: 16;
    --vpMin: 320;
    --vpMax: 1440;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: clamp(
    calc(1px * var(--fsMin)),
    calc(
      (1px * var(--fsMin)) + (var(--fsMax) - var(--fsMin)) *
        ((100vw - (1px * var(--vpMin))) / (var(--vpMax) - var(--vpMin)))
    ),
    calc(1px * var(--fsMax))
  );
  line-height: 1.5rem;
}

/* Grid */
.wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) repeat(12, var(--column-width)) minmax(
      0px,
      1fr
    );
  grid-column-gap: var(--grid-spacing);
  grid-row-gap: 0;
}

/* Breadcrumbs */
.bc-current-second:empty {
  display: none;
}

/* Unsorted */
.fabrikat-marqee-wrapper {
  pointer-events: none;
}

/* INPUT, TEXTAREA RESET */
input,
textarea {
  border-radius: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Brand Marquee */

/*.brand-marquee {
  animation: brand-marquee 60s infinite linear both;
}

.fabrikat-marquee-container {
  animation: brand-marquee 30s infinite linear both;
}

@keyframes brand-marquee {
  0% {
    translate: 0% 0%;
  }
  100% {
    translate: -50% 0%;
  }
}*/

/* Passed CTA */
.passed-link-wrapper-cta[data-scroll-inview="true"] > div {
  translate: 0% -101%;
  will-change: translate;
  transition: translate 0.3s cubic-bezier(0.4, 0, 0, 1);
}

.passed-link-wrapper-cta[data-scroll-inview="true"][data-scroll-passed="true"]
  > div {
  translate: 0% 0%;
}

/* Butten reset */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
